<h1>User Profile</h1>
<h6>Name: <%= @user.name %></h6>
<h6>Bio: <%= @user.bio %></h6>
<h6>Email: <%= @user.email %></h6>
<ul>
  <li>
    <%= link_to 'Show posts',user_posts_path(@user), class: "btn btn-outline-info mb-2" %>  
  </li>
  <li>
    <% if current_user.present? && current_user != @user %>
      <%= link_to 'Follow', user_follows_path(following_id: @user.id, user_id: @user.id), method: :post, class: 'btn btn-primary'%>
    <% end %>  
  </li>
  <li>
    <% if current_user.present? %>
      <%= link_to 'Feed', user_feed_posts_path(@user), class: 'btn btn-primary'%>
    <% end %>  
  </li>
  <li>
    <% if current_user.present? %>
      <%= link_to 'Show followings', user_followings_path(@user), class: 'btn btn-primary'%>
    <% end %>  
  </li>
  <li>
    <% if current_user.present? %>
      <%= link_to 'Show followers', user_followers_path(@user), class: 'btn btn-primary'%>
    <% end %>  
  </li>
</ul>
