<%= form_with model: @post do |f| %>
  <div>
    <%= f.hidden_field :image, value: @post.cached_image_data %>
    <%= f.file_field :image %>
  </div>

  <div class="mb-3">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control", placeholder: 'Title' %>
  </div>

  <div class="mb-3">
    <%= f.label :body, class: "form-label" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <%= f.submit 'Submit', class: "btn btn-primary" %>
<% end %>
