<h1> All posts <h1>
<% if user_signed_in? %>
  <% @posts.each do |post| %>
    <div class="card">
      <%= image_tag post.image_url, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to post.title, user_post_path(@user, post) %></h5>
        <p class="card-text"><%= post.body[0, 50] + '...' %></p>
      </div>
      <div class="card-footer">
        <small>
          <%= link_to 'Show post',user_post_path(@user, post), class: "btn btn-info mb-2" %>
          <% if policy(post).update? %>
            <%= link_to 'Edit post', edit_user_post_path(@user, post), class: "btn btn-secondary mb-2" %>
          <% end %>
          <% if policy(post).destroy? %>
            <%= link_to 'Delete post', user_post_path(@user, post), data: { method: :delete, confirm: "Are you sure?" }, class: "btn btn-danger mb-2" %>
          <% end %>
        </small>
      </div>
    </div>
    </br>
  <% end %>
<% else %>
  <h1> Welcome to Instaruby. Please Sign Up.</h1>
<% end %>

<div>
  <%= link_to 'Create post', new_user_post_path, class: "btn btn-warning" %>
</div>
