<%= image_tag @post.image_url, class: "card-img-top" %>
<h2> <%= @post.title %> </h2>
<p> <%= @post.body %> </p>

<ul>
  <li>
    <%= link_to 'Edit post', edit_user_post_path(@user, @post), class: "btn btn-secondary mb-2" %>
  </li>
  <li>
    <%= link_to 'Delete post', user_post_path(@user, @post), data: { method: :delete, confirm: "Are you sure?" }, class: "btn btn-danger mb-2" %>
  </li>
  <li>
    <%= link_to 'Back', user_posts_path(@user, @post), class: "btn btn-secondary mb-2" %>
  </li>
</ul>
